@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    /* remove all exixting padding and margins */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* include padding and margin of an element with width and height*/
}

html {
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    color: #2c3e50;
}

body {
    /* display: flex; */
    background-color: aquamarine;
}

h1{
    text-align: center;
    padding: 20px 0px 60px 0px;
}
/* parent div */
.calculator {
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #333333;
} 

.display {
    width: 100%;
    height: 30px;
    background-color: black;
}

 input[type= "text"] {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    /* background-color: #333333; */
    color: #d9d9d9; 
    /* padding: 10px; */
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1rem;
    border: 2px solid black;
    
}

.button {
  margin: 3px;
  width: 65px;
  border: 1px solid #0d0d0d;
  height: 30px;
  border-radius: 4px;
  color: #d9d9d9;
  background-color: #1a1a1a;
  cursor: pointer;
  /* outline: auto; */
  outline: none;
}

.equal-sign {
  background-color: rgb(19, 70, 19);
  width: 133px;
}

/* start of @mediaquery*/
/* For desktop */
.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
}
.goniometric { /*spans 6 colors 2 rows */
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;

}
.numbers {
    grid-column: 1 / span 3;
    grid-row: 3/ span 4;
}
.normal {
    grid-column: 4/ span 3;
    grid-row: 3 / span 4;
}

/* FOr Mobile */
@media (max-width: 500px) {
    .calculator {
        grid-template-columns: repeat(3, 1fr);
        max-width: 200px;
        min-width: 200px;
    }
    h1 {
        padding: 20px 0px 20px 0px;
        word-wrap: breake-word;
        font-size: 15px;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 220px;
        font-size: 2px;
    }
    .button {
        margin: 3px;
        width: 20px;
        border: 1px solid #0d0d0d;
        height: 30px;
        border-radius: 4px;
        color: #d9d9d9;
        background-color: #1a1a1a;
        cursor: pointer;
        /* outline: auto; */
        outline: none;
    }
    .goniometric { /*spans 6 colors 2 rows */
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;

    }
    .numbers {
        grid-column: 1 / span 3;
        grid-row: 3/ span 4;
        /* display: flex;
        flex-wrap: wrap; */
    }
    .normal {
        grid-column: 4/ span 3;
        grid-row: 3 / span 4;
    }
    .equal-sign {
        background-color: rgb(19, 70, 19);
        width: 47px;
        height: 30px;
    }


} 

/* for Tablets  */
@media only screen and(max-width: 768px) {
.calculator {
        grid-template-columns: repeat(4, 1fr);
        max-width: 400px;
    }
    h1 {
        padding: 20px 0px 20px 0px;
        word-wrap: breake-word;
        font-size: 15px;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 300px;
        font-size: 15px;
    }
    .button {
        margin: 3px;
        width: 60px;
        border: 1px solid #0d0d0d;
        height: 30px;
        border-radius: 4px;
        color: #d9d9d9;
        background-color: #1a1a1a;
        cursor: pointer;
        /* outline: auto; */
        outline: none;
    }
    .goniometric { /*spans 6 colors 2 rows */
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;

    }
    .numbers {
        grid-column: 1 / span 3;
        grid-row: 3/ span 4;
        /* display: flex;
        flex-wrap: wrap; */
    }
    .normal {
        grid-column: 4/ span 3;
        grid-row: 3 / span 4;
    }
    .equal-sign {
        background-color: rgb(19, 70, 19);
        width: 117px;
        height: 30px;
    }


} 
 /* for larger devices */
@media only screen and (max-width: 1200px) {
    .calculator{
        grid-template-columns: 4 1fr;
    }
  } 

